Pillow
einops
safetensors
timm
tomesd
librosa
torch==2.5.1
torchvision==0.20.1
torchdiffeq
torchsde
decord
datasets
numpy
scipy
scikit-image
opencv-python
omegaconf
SentencePiece
albumentations
imageio[ffmpeg]
imageio[pyav]
tensorboard
beautifulsoup4
ftfy
func_timeout
onnxruntime
accelerate>=0.25.0
gradio>=3.41.2
diffusers>=0.30.1
transformers>=4.46.2
xfuser==0.4.1
flash_attn==2.8.3
triton==3.1.0
wcwidth==0.6.0